.nav{background-color: rgba(59, 58, 58, 0.9);
     text-align: center;
     padding: 8px; 
     float: left;
     width: 100%;
     margin-top: 0;
     position: fixed;
     z-index:9999}

.nav  .nav-item{padding-left: 60px;
                color: rgb(219, 215, 215);
                text-decoration: none;}

.nav .container  .nav-item:hover{color: white;}


.pt-8{padding-top: 60px;font-size:18px ;}
.blue{color:rgb(34, 159, 241)}

.pt-8 div{padding-left: 100px;
          padding-right: 100px;}

.bodyimage{width: 100%;
           height: 600px;
           background-size: cover;}

.backgroundimage1{background-image: url("../images/3iphonepro.jpg"); cursor: pointer;}
.backgroundimage2{background-image: url("../images/111phone.jpg"); cursor: pointer;}
.backgroundimage3{background-image: url("../images/7ipadpro.jpg"); cursor: pointer;}
.bodyimage .trade{color:gray;}
.white{color: white;}
.watch{color: white; font-size: 22px;}
.brown{color:rgb(184, 70, 70)}
.backgroundimage4{background-image: url("../images/1covid19.jpg"); cursor: pointer;}
.backgroundimage5{background-image: url("../images/1watch.jpg"); cursor: pointer;}
.backgroundimage6{background-image: url("../images/1ipad.jpg"); cursor: pointer;}
.backgroundimage7{background-image: url("../images/8iphone11.jpg"); cursor: pointer;}
.backgroundimage8{background-image: url("../images/11iphone.jpg"); cursor: pointer;}
.backgroundimage9{background-image: url("../images/1tv.jpg"); cursor: pointer;}

.card-img{margin: 50px;
          width: 100%;
          background-size: cover;
          height: 500px;}



.backgroundimages{ 
                  margin-top: 20px; 
                  height: 500px;
                  max-width: 100%;
                  background-size: cover;
                  padding-top: 100px;}

.col-md-2 a{color: #000;}
.col-md-2 a:hover{color: #000;}
.col-md-10 a{color: #000;}
.col-md-10  a:hover{color: #000;}

.col-md-4 a{color: #000;}
.col-md-4 a:hover{color: #000;}
.col-md-8 a{color: #000;}
.col-md-8  a:hover{color: #000;}

.fontsize{font-size: 12px;
          background-color: rgb(245, 246, 246);
          color: rgb(85, 84, 84);}

.usaflag{border-radius: 50%;
         width: 17px;
         margin-left: 255px;}

.pdtop{margin-top: -8px;
       margin-bottom: 6px;}

.col-md-6{margin-right: -1px;}
.imglink{text-decoration: none;}

@media (max-width: 600px) {
.pt-8{padding-top: 100px;}
}

@media (max-width:500px)
{
    .pt-8 div{padding-left: 0;
        padding-right: 0;}
}

@media (max-width: 300px) {
    .pt-8{padding-top: 250px;}
    }


    
/* body{overflow-x: hidden;} */